<div class="center jumbotron">
  <h1>Only Viewへようこそ</h1>

  <h2>
    みんなで世論を作ろう！
  </h2>

  <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>