<h1>Only View</h1>

<p>Hi <%= @user.name %>,</p>

<p>
アカウントを有効化するためには
</p>

<%= link_to "こちら", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
<p>
を押してください。
</p>                                                    